# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.so

# C extensions
*.so

# Distribution / packaging
.env
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Logs and databases
*.log
*.db
*.rdb

# Documentation
docs/_build/
target/

# Jupyter Notebook
*.ipynb_checkpoints/

# PyCharm
.idea/
*.code-workspace
.spyproject/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Vim
*.swp
*.swo

# MyPy
.mypy_cache/

# Environment and config
.env
example.env

# Backup and temporary files
chat_history*
chats-bkp

# Custom directories and files
/data
chat_sessions.json

# Python-specific files and directories
# Avoid tracking any database files
*.db
*.rdb